// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

// 2. Variables
$primary: #2471A3;
$danger: #C0392B;
$success: #82E0AA;

// 3. Include remainder of required Bootstrap stylesheets
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "bootstrap/scss/maps";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/placeholders";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/card";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/utilities/api";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/close";

/*

//Faltan estos
@import "bootstrap/scss/carousel";

@import "bootstrap/scss/toasts";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/offcanvas";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/button-group";
 */

//imagnes de la propiedad
.input-group-append {
    cursor: pointer;
}
.size-img{
    max-width: 100%;
    height: auto;
}
.padd-img{
    padding-bottom: 11px;
}
#radius-br {
    border-bottom-right-radius: 6px;
}
#radius-tr{
    border-top-right-radius: 6px;
}
.custom-input{
    position: relative;
    font-size: 14px;
}
.custom-input input{

    background: #fafafa;
    padding: 25px 0 10px 15px;
    border-radius: 3px;
    font-size: 14px;
    width: 100%;
}
.custom-input .ph{
    position: absolute;
    left: 20px;
    top: 25%;
    transform: translateY(-75%);
    color: black;
}
//date-picker
.ui-widget-header{

    border: none !important;
    background: #355C78 !important;
}
.ui-widget-content{
    background: white !important;
}
.ui-state-highlight, .ui-state-hover, .ui-state-focus, .ui-state-active{
    background: #f6f6f6 !important;
    border: black !important;
}
.ui-widget-content a{
    color: black !important;
    border: 1px solid #cccccc !important;
}
.event a {
    background: #F7E9D5 !important;
    color: black !important;
    height: 60px;
}


.ui-datepicker td[title]::after {
    content: attr(title);
    display: block;
    position: relative;
    font-size: .8em;
    height: 1.25em;
    margin-top: -1.25em;
    text-align: right;
    padding-right: .25em;
    color: grey;
}
.ui-datepicker td a:after
{
    content: "";
    display: block;
    text-align: center;
    color: Blue;
    font-size: small;
    font-weight: bold;
}

#ui-datepicker-div > .ui-datepicker {
    background-color: red;
    width: 500px;
}


.ui-datepicker td>a,
.ui-datepicker td>span{
    height: 42px !important;
    padding: 1em;

}
#inline-picker>.ui-datepicker td>a,
#inline-picker>.ui-datepicker td>span{
    height: 50px !important;
}
#inline-picker>.ui-datepicker table{
    height: 300px !important;
    text-align: center !important;
}
#inline-picker>.ui-datepicker,
#inline-picker>.ui-datepicker-header,
#inline-picker>.ui-datepicker-calendar{
    width: 100% !important;
    height: 100% !important;
}

//mapa
#map {
    height: 350px;
}

#containerMap{
    height: 350px;
}

//rating de comentarios
.rating {
    font-size: 20px;
}

.star, .starE {
    cursor: pointer;
    color: #ccc;
    transition: color 0.2s;
}
.star{
    color: #ccc;
}
.star.active{
    color: #ffcc00;

}
.starE:hover,
.starE.active {
    color: #ffcc00;
}

.owl-carousel .owl-dots{
    display: none;
}
//pop up
#successMessage {
    position: sticky;
    bottom: 15px;
    left: 50%;
}

#header{
    @extend .sticky-top;
}
#opciones-casa{
    @extend .col-sm-7;
    @extend .col-12;
}
#servicios-casa div{
    @extend .mt-3;
}
#form-casa{
    @extend .col-sm-4;
    @extend .col-12;
    @extend .mt-sm-0;
    @extend .mt-3;
    @extend .border;
    @extend .border-dark;
    @extend .rounded;
    @extend .shadow;
    @extend .bg-white;
    @extend .sticky-sm-top;
    @extend .mb-3;
    top:70px;
    z-index: 0;
}
#contenedor-imagnes{
    @extend .bg-white;
}
#calendari-casa{
    @extend .col-sm-7;
    @extend .col-12;
    @extend .px-0;

}
#comentario-casa{
    @extend .justify-content-end;
    @extend .d-flex;
    @extend .border-bottom;
    @extend .border-top;
    @extend .border-dark;
}
#mapa-casa{
    @extend .mt-5;
    @extend .mb-4;
    @extend .border-bottom;
    @extend .border-dark;
}

.color-header{
    background-color: #3599DB;
}
.footer-color{
    background-color: #4887B1;
}
.footer2-color{
    background-color: #C4B091 !important;
}
.body-color > *{
    @extend .bg-opacity-25;
}
body {
    background: linear-gradient(to right, #D5E9F7  , #f8f8ff);
}
